/* Reset some default styles for a cleaner canvas */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f6f6;
}

/* Header Styling */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Navigation Styling */
.navigation {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: #007bff;
}

/* Container Styling */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dashboard-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Stats Styling */
.stats {
  display: flex;
  justify-content: space-between;
}

.stat-box {
  flex: 1;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-right: 10px;
  border-radius: 10px;
}

.stat-box:last-child {
  margin-right: 0;
}

/* Book List Styling */
.book-list {
  margin-top: 30px;
}

.book-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Login Styling */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 40px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
.rounded-circle {
    border: 5px solid #fff;
}