<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/18a81f2903.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Book Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/books}"><i class="fa-solid fa-display"></i>View Book List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/favorites}"><i class="fa-solid fa-crown"></i>View Favorites</a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="nav-link ml-auto dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle user-image mr-2" width="32" src="" th:src="${user.get('picture')}"
                                th:attr="alt=${user.get('name')}">
                            <span th:text="${user.get('name')}"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" th:href="@{/logout}"><i
                                        class="fa-solid fa-right-to-bracket"></i>Logout</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link ml-auto btn btn-success" th:href="@{/oauth2/authorization/auth0}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="banner"
        style="background-image: url('https://images.unsplash.com/photo-1600431972041-fb45a99be8e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1024&q=80');">
        <div class="container">
            <h1>Discover Your Next Favorite Book</h1>
            <p>Explore our extensive collection of books and find your next great read. From bestsellers to hidden gems, we have something for everyone.</p>
        </div>
    </div>

    <div class="container mt-5">
        <a th:href="@{/books/new}" class="btn btn-info"><i class="fa-solid fa-plus"></i>Add New Book</a>
        <h1>Book List</h1>
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="list of books">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>ISBN</th>
                        <th>Category</th>
                        <th>Language</th>
                        <th>Pages</th>
                        <th>Price</th>
                        <th>Format</th>
                        <th>Edition</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>Favorite</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${BookList}">
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.isbn}"></td>
                        <td th:text="${book.category}"></td>
                        <td th:text="${book.language}"></td>
                        <td th:text="${book.pages}"></td>
                        <td th:text="${book.price}"></td>
                        <td th:text="${book.format}"></td>
                        <td th:text="${book.edition}"></td>
                        
                        <td th:text="${#strings.length(book.description) > 12 ? #strings.substring(book.description, 0, 12) : book.description}"></td>
                        <td><img th:src="${book.imageUrl}" alt="Book Cover" class="img-fluid book-img"></td>
                        <td>
                            <button class="btn btn-danger delete-buttons" data-id="" th:attr="data-id=${book.id}"><i
                                    class="fa-solid fa-trash"></i>Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-primary edit-buttons" data-id="" th:attr="data-id=${book.id}"><i
                                    class="fa-solid fa-pen-to-square" aria-hidden="true"></i>Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-primary fav-buttons" data-id="" th:attr="data-id=${book.id}"><i
                                    class="fa-solid fa-star" aria-hidden="true"></i>Add to Favorite</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const deleteButtons = document.querySelectorAll('.delete-buttons');
        const editButtons = document.querySelectorAll('.edit-buttons');
        const favButtons = document.querySelectorAll('.fav-buttons');

        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                confirmDelete(button.dataset.id);
            });
        });

        editButtons.forEach(button => {
            button.addEventListener('click', () => {
                editBook(button.dataset.id);
            });
        });

        favButtons.forEach(button => {
            button.addEventListener('click', () => {
                addToFavorites(button.dataset.id);
            });
        });

        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete this book?")) {
                fetch(`/books/api/v2/${id}/delete`, {
                    method: 'GET'
                })
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        } else {
                            alert("Failed to delete book.");
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Failed to delete book.");
                    });
            }
        }

        function addToFavorites(id) {
            fetch(`/favorites/api/v2/new/${id}`, {
                method: 'GET'
            })
                .then(response => {
                    if (response.ok) {
                        alert("Book added to favorites.");
                    } else {
                        response.text().then(text => {
                            alert(`Failed to add book to favorites.\n${text}`);
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Failed to add book to favorites.");
                });
        }

        function editBook(id) {
            window.location.href = `/books/${id}`;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>