<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
            .fade {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                animation-delay: 300ms;
            }
            .fade.show {
                opacity: 1;
            }
            img{
                object-fit: cover;
                aspect-ratio: 2/1;
            }
        </style>
</head>

<body>
    <header th:insert="fragments/general.html :: header"> </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Book Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/books}">View Book List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/favorites}">View Favorites</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="nav-link ml-auto dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle user-image mr-2" width="32" th:src="${user.get('picture')}"
                                th:attr="alt=${user.get('name')}">
                            <span th:text="${user.get('name')}"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link ml-auto btn btn-success" th:href="@{/oauth2/authorization/auth0}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <p class="alert alert-danger fade show" sec:authorize="!isAuthenticated()">Please <a th:href="@{/oauth2/authorization/auth0}">log in</a> to continue</p>
        <div class="dashboard-title mb-4">
            Dashboard Overview
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Total Books</h5>
                        <p class="card-text" th:text="${totalBooks}"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Favorite Books</h5>
                        <p class="card-text" th:text="${totalFavBooks}"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Additional content for your dashboard -->
        <h2>Recent Books</h2>
        <div class="row">
            <div class="col-lg-4 p-3" th:each="book: ${recentBooks}" >
                <div class="card">
                    <img class="card-img-top" th:src="${book.imageUrl}" alt="" th:attr="alt=${book.title}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${book.title}"></h5>
                        <p class="card-text" th:text="${book.author}"></p>
                        <a th:href="@{/books/{id}(id=${book.id})}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>